/* Home.css */

/* Container for the loading message and GIF */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height to center the loading container vertically */
  }
  
  /* Styling for the loading message */
  .loading-message {
    font-size: 24px;
    margin-bottom: 16px; /* Add spacing between the message and GIF */
  }
  
  /* Styling for the loading GIF */
  .loading-gif {
    width: 50px; /* Adjust the width of the GIF as needed */
  }
  